# your personal steam api key
STEAM_API_KEY="<CHANGE ME>"

# location of your ACF file for zomboid. this will be in the workshop directory
WORKSHOP_ACF_FILE="<CHANGE ME>"

# location of your server ini file
SERVER_INI="<CHANGE ME>"

# location of your sandbox settings
ZOMBOID_SANDBOX_INI="<CHANGE ME>"

# interval to check the workshop for mod updates
CHECK_WORKSHOP_INTERVAL="30m"

# shutdown timer duration
SHUTDOWN_DURATION="5m" # 5 minutes


# make sure these match what is in your INI file.
# these will eventually be the source of truth, inserted into the ini file at startup
RCON_HOST="127.0.0.1"
RCON_PASSWORD="<CHANGE_ME>"
RCON_PORT="27015"

MOD_NAMES=""
WORKSHOP_ITEMS=""
MAPS=""